.websitefont {
  font-size: medium;
  font-family: 'Sen', sans-serif;
  text-align: justify;
  font-weight: bold;
  margin: 20px;
}

.smallfont {
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  text-align: justify;
  margin: 20px;
  line-height: 1.2;
}
.bigfont {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  line-height: normal;
  padding-left: 50px;
  padding-right: 50px;
}

.textonimg {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 300px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 5px 5px 2px 0px gray;
  -moz-box-shadow: 5px 5px 2px 0px gray;
  box-shadow: 5px 5px 2px 0px gray;  
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 10px; /* 5px rounded corners */

}

/* Style the back side */
.flip-card-back {
  background-color:white;
  color:black;
  border-radius: 10px; /* 5px rounded corners */
  transform: rotateY(180deg);
  border: gray, 2px;
}


.flip-card-front img {
  border-radius: 10px;
  width:350px;
  height:300px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-container {
  padding: 20px 20px;
  margin: 0;
  list-style: none;
  align-content: center;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  box-shadow: gray, ;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  width: 350px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

